@model User
@{
    List<DailyTask> dailys = Model.DailyTasks as List<DailyTask>;
    List<WeeklyTask> weeklys = Model.WeeklyTasks as List<WeeklyTask>;
    List<ToDoTask> todos = Model.ToDoTasks as List<ToDoTask>;

}
<h1>Tasks</h1>

<div class="task-lists row">
    <div class="daily-tasks col-4 textblock">
        <h1>Daily Tasks</h1>
        <ul style="list-style-type:none">
            @foreach(DailyTask task in dailys)
            {
                
                <li>
                    @if (task.IsCompleted)
                    {
                        <input type="checkbox" id="@task.Title" name="@task.Title" onchange="checkTask('daily', @task.Id)" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="@task.Title" name="@task.Title" onchange="checkTask('daily', @task.Id)">
                    }
                    <label for="@task.Title"><a href="/tasks/@task.Id" onclick="setcookiedaily()">@task.Title</a></label>
                </li>

            }
        </ul>
    </div>
    <div class="weekly-tasks col-4 textblock">
        <h1>weekly Tasks</h1>
        <ul style="list-style-type:none">
            @foreach (WeeklyTask task in weeklys)
            {
                <li>
                    @if (task.IsCompleted)
                    {
                        <input type="checkbox" id="@task.Title" name="@task.Title" onchange="checkTask('weekly', @task.Id)" checked>
                    }
                    else
                    {
                        <input type="checkbox" id="@task.Title" name="@task.Title" onchange="checkTask('weekly', @task.Id)">
                    }
                    <label for="@task.Title"><a href="/tasks/@task.Id" onclick="setcookieweekly()">@task.Title</a></label>
                </li>
            }
        </ul>
    </div>
    <div class="Todo's-tasks col-4 textblock">
        <h1>Todos</h1>
        <ul style="list-style-type:none">
            @foreach (ToDoTask task in todos)
            {
                <li>
                    @if (task.IsCompleted)
                    {
                        <input type="checkbox" id="@task.Title" name="@task.Title" onchange="checkTask('todo', @task.Id)"checked>
                    }
                    else
                    {
                        <input type="checkbox" id="@task.Title" name="@task.Title" onchange="checkTask('todo', @task.Id)">
                    }
                    <label for="@task.Title"><a href="/tasks/@task.Id" onclick="setcookietodo()">@task.Title</a></label>
                </li>
            }
        </ul>
    </div>
</div>
<form action="/tasks/new">
    <button>Create Custom Task</button>
</form>
<script>
    function setcookiedaily() {
        document.cookie = "tasktype=daily"
    }
    function setcookieweekly() {
        document.cookie = "tasktype=weekly"
    }
    function setcookietodo() {
        document.cookie = "tasktype=todo"
    }
</script>

<script>
    async function checkTask(type, id){
        const url = '/users/checktask?type=' + type + '&id=' + id;
        const request = new Request(url,{
            method: 'POST'
        })
        const response = await fetch(request);
        //const data = await response.json();
    }
</script>