@model ITask
<form id="NewTaskForm" method="post" action="/tasks/update/@Model.Id">
    <div>
        <label for="easy">Easy</label>
        <input type="radio" id="easy" name="Difficulty" value="1" checked />
    </div>
    <div>
        <label for="medium">Medium</label>
        <input type="radio" id="medium" name="Difficulty" value="2" />
    </div>
    <div>
        <label for="hard">Hard</label>
        <input type="radio" id="hard" name="Difficulty" value="3" />
    </div>

    <br />

    @{
        if (Context.Request.Cookies["tasktype"] == "daily")
        {
            <div>
                <label for="daily">Daily</label>
                <input type="radio" onchange="selectDaily(this)" id="daily" name="TaskType" value="Daily" checked />
            </div>
        }
        else if (Context.Request.Cookies["tasktype"] == "weekly")
        {
            <div>
                <label for="weekly">Weekly</label>
                <input type="radio" onchange="selectWeekly(this)" id="weekly" name="TaskType" value="Weekly" checked />
            </div>
        }
        else if (Context.Request.Cookies["tasktype"] == "todo")
        {
            <div>
                <label for="todo">ToDo</label>
                <input type="radio" onchange="selectToDo(this)" id="todo" name="TaskType" value="ToDo" checked />
            </div>
        }
    }
    <div>
        <label for="taskname">Task Name:</label>
        <input type="text" id="taskname" name="Title" value="@Model.Title" />
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" rows="5" maxlength="255" name="Description">@Model.Description</textarea>
    </div>

    <div>
        <label for="category">Choose a Category:</label>

        <select name="Category" id="category" value="@Model.Category">
            <option value="@Model.Category">@Model.Category</option>
            <option value="Hygiene">Hygiene</option>
            <option value="Wellness">Wellness</option>
            <option value="Mindfullness">Mindfullness</option>
            <option value="Productivity">Productivity</option>
            <option value="HabitBuilding">HabitBuilding</option>
        </select>
    </div>

    <button type="submit">save changes</button>
    <a href="/tasks">cancel changes</a>
</form>
<form method="post" action="/tasks/delete/@Model.Id">
    <button>Delete Task</button>
</form>

<script>
    if (document.getElementById("daily")) {
        document.getElementById("NewTaskForm").action = "/tasks/update/daily/@Model.Id";
    }

    if (document.getElementById("weekly")) {
        document.getElementById("NewTaskForm").action = "/tasks/update/weekly/@Model.Id";
    }

    if (document.getElementById("todo")) {
        document.getElementById("NewTaskForm").action = "/tasks/update/todo/@Model.Id";
    }  
</script>