@model Camp
@{
   User activeUser = ViewData["ActiveUser"] as User;
}
<div class="flex-container">
    <h1>@Model.Title's Message Board</h1>
    <form method="get" action="/camps/@Model.Id/details">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Details</button>
    </form>
</div>
<br />
<div class="scrollable-div textblock" style="height:550px">
    @{
        foreach (var message in Model.MessageBoard)
        {
            if (message.User == activeUser)
            {
                <div class="flex-container justify-content-end">
                    <h5 style="margin-left:20%">"@message.Content"</h5>
                </div>
                
            }
            else
            {
                <div class="flex-container justify-content-lg-start">
                    <p>@message.User.Username:</p>
                    <h5 style="margin-right:20%">"@message.Content"</h5>
                </div>
            }   
        }
    }
</div>
@*@{
    foreach(var member in Model.Members)
    {
        <p>Member: @member.Username</p>
    }
}*@
<div @*class="container"*@>
    <form class="d-flex" method="post" action="/camps/@Model.Id/addMessage">
        <input class="form-control me-sm-2 " type="search" name="message" placeholder="Add a Message . . .">
        <button class="btn btn-success my-2 my-sm-0 " type="submit">Post</button>
    </form>
</div>
<script>
    var messageBody = document.querySelector('.scrollable-div');
    window.onload = function () {
        messageBody.scrollTo(0, document.body.scrollHeight);
    }
</script>