@using Newtonsoft.Json
@model UserProfileView
@{
    double xpPercent = Math.Round(Convert.ToDouble(Model.User.Xp) / Convert.ToDouble(Model.User.NeededXp()), 2);
    string xpPercentString = (xpPercent * 100).ToString() + "%";
}
<h1>@Model.User.Name Profile</h1>



<div class="container">
    <div class="row">
         <!-- First Main Column -->
        <div class="col-4 vertical-top">
             <!-- Nested First Row -->
            <div class="row mb-2">
                <div class="col">
                    <img src="https://placehold.co/200x200/E8DCB9/FFF/?text=Profile%20+%20Pic">
                    <br>
                    <br>
                    <p>Lexel: @Model.User.Level</p>
                    <div class="progress" style="width: 57.5%">
                        <div class="progress-bar" role="progressbar" style="width: @xpPercentString" aria-valuenow="@Model.User.Xp" aria-valuemin="0" aria-valuemax="@Model.User.NeededXp()">@Model.User.Xp / @Model.User.NeededXp()</div>
                    </div>
                    <img src="https://placehold.co/200x50/E8DCB9/FFF/?text=Level%20+%20Bar">
                </div>
            </div>
             <!-- Nested Second Row -->
            <div class="row">
                <div class="col">
                    <br>
                    <br>
                    <img src="https://placehold.co/300x400/E8DCB9/FFF/?text=Achievements%20">
                </div>
            </div>
        </div>

         <!-- Second Main Column -->
        <div class="col-4 vertical-top">
             <!-- Nested First Row -->
            <div class="row mb-2">
                <div class="col">
                    <img src="https://placehold.co/300x400/E8DCB9/FFF/?text=Daily%20%20+%20Affermation"></>
                    <p>@Model.DailyAffirmation</p>
                </div>
            </div>
             <!-- Nested Second Row -->
            <div class="row">
                <div class="col">
                    <br>
                    <a href="/profile/streaks">Streaks Page</a>
                </div>
            </div>
        </div>

         <!-- Third Main Column -->
        <div class="col-4 vertical-center">
             <!-- Nested First Row -->
            <div class="row mb-2">
                <div class="col">
                     <!-- Use Canvas to Draw Radar Chart with a height and width of 400 pixels -->
                    <canvas id="userRadarChart" width="400" height="400"></canvas>
                </div>
            </div>
             <!-- Nested Second Row -->
            <div class="row">
                <div class="col">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Artibutes</th>
                                <th>Score</th>
                            </tr>
                        </thead>

                        <!-- Table Body -->
                        <tbody>
                            <tr>
                                <td>Hygiene</td>
                                <td>@Model.User.Hygiene</td>
                            </tr>
                            <tr>
                                <td>Productivity</td>
                                <td>@Model.User.Productivity</td>
                            </tr>
                            <tr>
                                <td>Wellness</td>
                                <td>@Model.User.Wellness</td>
                            </tr>
                            <tr>
                                <td>Mindfulness</td>
                                <td>@Model.User.Mindfullness</td>
                            </tr>
                            <tr>
                                <td>Habit Building</td>
                                <td>@Model.User.HabitBuilding</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
     // Get data from the model to JavaScript variables
    var labels = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.RadarChart.Labels));
    var dataValues = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.RadarChart.Values));

     // Retrieves the <canvas> element with the ID 'userRadarChart' from the DOM and obtains its 2D drawing context
    var ctx = document.getElementById('userRadarChart').getContext('2d');

     // Create Radar Chart from Model using Data and Labels from the model
    var userRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: labels,
            datasets: [{
                label: 'User Attributes',
                data: dataValues,
                backgroundColor: 'rgba(75, 192, 192, 0.2)', 
                borderColor: 'rgba(75, 192, 192, 1)',     
                borderWidth: 1
            }]
        },
        options: {
           
        }
    });
</script>